<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PRISM Audio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<!-- Factory UUID → factory function exported from PRISM_PlugIn.cpp -->
		<key>8E9C0B4F-3A61-4D27-9C1E-5B7D2F6A0C43</key>
		<string>PRISM_CreatePlugIn</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<!-- kAudioServerPlugInTypeUUID -->
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>8E9C0B4F-3A61-4D27-9C1E-5B7D2F6A0C43</string>
		</array>
	</dict>
</dict>
</plist>
